<!DOCTYPE html>
<html lang="en" xmlns:th ="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<header th:replace="layout :: logout"></header>
<body>
<h1>Welcome! These are your posts!</h1>
<main th:each="p:${posts}">

    <div>
        <h3 th:text="${p.title}"/>
            <p th:text = "${p.body}">
        </p>
        <p th:text="${p.date}"></p>

    </div>
    <div>
        <a th:href="@{/editPost(postId=${p.id})}">Edit</a>
        <form th:action="@{/deletePost(postId=${p.id})}" th:method="delete">
            <input type="submit" value="Delete" />
        </form>
    </div>
</main>

</body>
</html>